In [29]:
# Import dependencies
import pandas as pd
import csv

In [30]:
# Path to collect data from the Resources folder
csv_path = "budget_data.csv"

In [55]:
#Default variable for what we are looking for
total_months = 0
total_revenue = 0
prev_revenue = 0
month_of_change = []
revenue_change_list = []
biggest_decr = ['', 99999999999]
biggest_incr = ['', 0]

In [31]:
# Read the csv file first 5 rows
budget_df = pd.read_csv(csv_path)
budget_df.head()

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

In [32]:
# View what is in the datasheet
budget_df.count()

Date       41
Revenue    41
dtype: int64

In [58]:
# Total number of months included in the dataset
#Default variable for what we are looking for
#total_months += 1

len(budget_df['Date'].unique().tolist())

41

In [34]:
budget_df.describe()

            Revenue
count  4.100000e+01
mean   4.627174e+05
std    5.660821e+05
min   -1.172384e+06
25%    1.738260e+05
50%    5.636790e+05
75%    8.839340e+05
max    1.195111e+06

In [35]:
budget_df.isnull().values.any()

False

In [45]:
# The total net amount of "Profit/Losses" over the entire period
total = budget_df['Revenue'].sum()
total

18971412

In [47]:
# The average change in "Profit/Losses" between months over the entire period
average = budget_df['Revenue'].mean()
average

462717.3658536585

In [43]:
# The greatest increase in profits (date and amount) over the entire period
budget_df['Revenue'].max()

1195111

In [54]:

dti = budget_df.date_range()
budget = budget_df.Series(np.random.rand(len(dti)), index=dti)

budget_group = budget_df.groupby(pd.TimeGrouper('M')).idxmax()

AttributeError: 'DataFrame' object has no attribute 'date_range'

In [40]:
# The greatest decrease in losses (date and amount) over the entire period
budget_df['Revenue'].min()

-1172384

In [ ]:
# In addition, your final script should both print the analysis to the terminal and export a text file with the results.