In [4]:
# Import dependencies
import pandas as pd
import csv

In [5]:
# Path to collect data from the Resources folder
csv_path = "budget_data.csv"

In [6]:
# Read the csv file first 5 rows
budget_df = pd.read_csv(csv_path)
budget_df.head()

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

In [7]:
# View what is in the datasheet
budget_df.head()

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

In [8]:
# Total number of months included in the dataset
len(budget_df['Date'].unique().tolist())

41

In [9]:
budget_df.describe()

            Revenue
count  4.100000e+01
mean   4.627174e+05
std    5.660821e+05
min   -1.172384e+06
25%    1.738260e+05
50%    5.636790e+05
75%    8.839340e+05
max    1.195111e+06

In [10]:
budget_df.isnull().values.any()

False

In [11]:
budget_df['Revenue'].min()

-1172384

In [12]:
budget_df['Revenue'].max()

1195111

In [13]:
budget_df['Revenue'].()

SyntaxError: invalid syntax (<ipython-input-13-eaa9562e6c73>, line 1)

In [ ]:
# The total net amount of "Profit/Losses" over the entire period

In [ ]:
# The average change in "Profit/Losses" between months over the entire period

In [ ]:
# The greatest increase in profits (date and amount) over the entire period

In [ ]:
# The greatest decrease in losses (date and amount) over the entire period

In [ ]:
# In addition, your final script should both print the analysis to the terminal and export a text file with the results.